@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    font-family: 'Courgette', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --dark-blue: #4C0070;
    --light-blue: #5a0d7e;
}


/* Nav Style Start Here */

nav {
    display: flex;
    height: 4rem;
    background-color: var(--dark-blue);
    align-items: center;
    justify-content: space-between;
    padding: 0 3.125rem 0 4.25rem;
}

nav .logo {
    font-size: 2.5rem;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
  
    background-image: linear-gradient(90deg, #FF7800, #FFBC97);
    
    background-size: 100%;
    background-repeat: repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

nav ul {
    display: flex;
    list-style-type: none;
    position: relative;
}

nav ul li {
    margin: 0 .4rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: .01rem;
    padding: .2rem .5rem;
    border-radius: .2rem;
    transition: all .2s;
}

nav ul li a:hover, 
nav ul li .active {
    color: #161853;
    background-color: #FBFFE2;
}

nav .menu-btn i {
    color: white;
    font-size: 1.8rem;
    display: none;
}

#click {
    display: none;
}


/*----------
 --Sub Nav-- 
 ----------*/

nav ul ul {
    background-color: var(--light-blue);
    position: absolute;
    top: -50rem;
    flex-direction: column;
    transition: .3s;
    z-index: -2;
    border-end-end-radius: 1.5rem;
    border-end-start-radius: .2rem;
}

nav ul li:hover > ul, 
nav ul li:focus-within > ul {
    top: 2.6rem;
}

ul li ul li {
    margin: 1rem .3rem;
    text-align: center;
}

ul li ul li ul li {
    width: 7rem;
}


nav ul ul ul {
    left: 5rem;
}

nav ul ul li:hover > ul, 
nav ul ul li:focus-within > ul {
    top: 7rem;
}


/*----------------------
-- Responsive (750px) -- 
----------------------*/

@media (max-width: 750px) {

    nav .menu-btn i {
        display: block;
    }

    #click:checked ~ .menu-btn i::before {
        content: '\f00d';
        font-size: 2rem;
    }

    nav ul {
        position: absolute;
        flex-direction: column;
        left: 0rem;
        top: -30rem;
        width: 100%;
        text-align: left;
        padding-left: 2rem;
        background-color: #5a0d7e;
        transition: .3s ease;
        z-index: -7;
    }

    #click:checked ~ ul {
       top: 4rem;
    }

    nav ul li {
        margin: 1rem 0;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    nav ul li a:hover, 
    nav ul li .active {
        background: none;
        color: #B8E4F0;
    }

    nav ul ul {
        background-color: var(--light-blue);
        position: relative;
        top: 0rem;
        left: 5rem;
        height: 10.5rem;
        width: 10rem;
        padding-left: 0;
        z-index: 5;
        display: none;
        
    }

    nav ul li:hover > ul, 
    nav ul li:focus-within > ul {
        top: -2rem;       
        display: flex;
    }

    nav ul ul ul {
        position: absolute;
        left: 7em;
        margin-top: 1rem;
    }

}
